// Variables

$white: #fff !default;
$gray-100: #b33d64 !default;
$gray-200: #b33d64 !default;
$gray-300: #b33d64 !default;
$gray-400: #b33d64 !default;
$gray-500: #b33d64 !default;
$gray-600: #b33d64 !default;
$gray-700: #b33d64 !default;
$gray-800: #b33d64 !default;
$gray-900: #b33d64 !default;
$black: #b33d64 !default;

$primary: #a16482 !default;
